[pylint]
disable=
    duplicate-code,
    line-too-long,
    missing-module-docstring,
    too-many-arguments,
    too-many-public-methods,
ignore=
    __init__.py,
    docs/source/conf.py
notes=
    FIXME,
