bandit==1.8.3
black==25.1.0
build==1.2.2.post1
coverage==7.6.12
flake8==7.1.2
fpvs==0.3.0
isort==6.0.1
mypy==1.15.0
psutil==7.0.0
pylint==3.3.4
pytest-cov==6.0.0
pytest-schema==0.1.2
pytest==8.3.5
sphinx-autodoc-typehints==3.1.0
sphinx-gallery==0.19.0
sphinx-jinja2-compat==0.3.0
sphinx-prompt==1.9.0
sphinxext-remoteliteralinclude==0.5.0
sphinx-rtd-theme==3.0.2
sphinx-tabs==3.4.7
sphinx-toolbox==3.8.0
sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
twine==6.1.0
virtualenv==20.29.3
wheel==0.45.1
