name: bandit

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - ".github/**"

permissions:
  contents: read
  pull-requests: write

jobs:
  bandit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Run Bandit Scan
        uses: lukehinds/bandit-action@new-action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: "examples src"
          recursive: "true"
