name: Create sphinx documentation

on:
  push:
    branches: [main]
    paths:
      - "examples"
      - "src"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install sphinx sphinx_rtd_theme myst_parser autodocsumm sphinx-toolbox

      - name: Sphinx build
        run: |
          sphinx-build docs/source _build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        # if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
