name: create sphinx documentation

on:
  push:
    branches: [main]
    paths:
      - 'src'
      - 'examples'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser autodocsumm sphinx-toolbox

      - name: Sphinx build
        run: |
          sphinx-build docs/source _build

      - name: deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        # if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
