name: Pytest windows

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 7 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

env:
  PYTHONPATH: ${{ github.workspace }}/src

permissions: {}

jobs:
  pytest-windows:
    name: "Pytest OS: windows-latest; Python ${{ matrix.python-version }}"
    permissions:
      contents: read
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m venv .\\venv
          .\\venv\\Scripts\\activate
          python -m pip install --upgrade pip
          python -m pip install --group all .

      - if: matrix.python-version == '3.10'
        name: Install python libraries for python 3.10
        run: |
          .\\venv\\Scripts\\activate
          python -m pip install typing_extensions

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Run gRPC service
        run: |
          docker run --detach --env SENZING_TOOLS_ENABLE_ALL --publish 8261:8261 senzing/serve-grpc:latest

      - name: Run pytest
        run: |
          .\\venv\\Scripts\\activate
          $Env:SENZING_PATH = "$Env:USERPROFILE\Senzing"
          pytest tests/ --verbose --capture=no --cov=src

      - name: Rename coverage file
        env:
          COVERAGE_FILE: "coverage.${{ matrix.python-version }}"
        run: |
          Rename-Item -Path.coverage -NewName "$env:COVERAGE_FILE"

      - name: Store coverage file
        uses: actions/upload-artifact@v6
        with:
          name: "coverage-${{ matrix.python-version }}"
          path: "coverage.${{ matrix.python-version }}"

  coverage:
    if: github.event_name == 'pull_request'
    name: Coverage
    needs: pytest-windows
    permissions:
      pull-requests: write
      contents: write
    uses: senzing-factory/build-resources/.github/workflows/python-coverage-comment.yaml@v4

  slack-notification:
    needs: [pytest-windows]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.pytest-windows.result ) && github.event_name == 'schedule' }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v4
    with:
      job-status: ${{ needs.pytest-windows.result }}
